build/
cmake-build-*/
azteca-out/
node_modules/
.npm/
.cache/

CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
Testing/
cmake_install.cmake
compile_commands.json
.ninja_deps
.ninja_log

*.o
*.obj
*.a
*.so
*.dylib
*.dll
*.exe
